* {
    box-sizing: border-box;
}

:root {
    /* font family */
    --font-heading: 'Sora', sans-serif;
    --font-primary: 'Poppins', sans-serif;
    /* color */
    --primary-color: #000958;
    --text-color-light-purple: #5E6085;
    --text-color-white: #FFF;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-primary);
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/*Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    max-width: 214px;
    height: 56px;
    color: #FF5B2E;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    transition: ease 0.2s;
    /* 100% */
}

.btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(0, 0, 0, 0.42);
}

/* Header */
/* Navbar */
.navbar {
    margin: 26px 0 100px;
}

.navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 36px;
}

.navbar__item--link {
    color: var(--text-color-light-purple);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 100% */
}

.navbar__item:hover .navbar__item--link {
    color: var(--primary-color);
    /* font-weight: 600; */
    text-shadow: 0 1px 0 currentColor;
}

.navbar__btn {
    padding: 0 31px;
    max-width: 117px;
    height: 50px;
    color: var(--primary-color);
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 25px;
    border: 1px solid var(--primary-color);
}

.navbar__btn:hover {
    background-color: var(--primary-color);
    color: var(--text-color-white);
}