* {
    box-sizing: border-box;
}

:root {
    /* font family */
    --font-heading: 'Sora', sans-serif;
    --font-primary: 'Poppins', sans-serif;
    /* color */
    --primary-color--purple: #000958;
    --text-color-light-purple: #5E6085;
    --text-color-white: #FFF;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #FFFAF5;
    font-family: var(--font-primary);
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-heading);
}

a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

/*Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.section-heading {
    color: #000958;
    font-size: 5.2rem;
    font-weight: 800;
    line-height: 1.15;
    /* 115.152% */
}

.section-desc {
    color: #656689;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.875;
    /* 187.5% */
}

.section-title {
    color: #5E6085;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    max-width: 214px;
    height: 56px;
    color: #FF5B2E;
    border-radius: 31px;
    border: 1px solid #FF5B2E;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
    transition: ease 0.2s;
    /* 100% */
}

.btn:hover {
    box-shadow: 0px 13px 26px -8px rgba(0, 0, 0, 0.42);
}

/* Header */

/* Navbar */
.navbar {
    padding: 26px 0 100px;
}

.navbar__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__list {
    display: flex;
    align-items: center;
    gap: 36px;
}

.navbar__item--link {
    color: var(--text-color-light-purple);
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 100% */
}

.navbar__item:hover .navbar__item--link {
    color: var(--primary-color--purple);
    /* font-weight: 600; */
    text-shadow: 0 1px 0 currentColor;
}

.navbar__btn {
    padding: 0 30px;
    max-width: 117px;
    height: 50px;
    color: var(--primary-color--purple);
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 25px;
    border: 1px solid var(--primary-color--purple);
}

.navbar__btn:hover {
    background-color: var(--primary-color--purple);
    color: var(--text-color-white);
}

/* Hero */
.hero__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero__media {
    position: relative;
    width: 47%;
    min-height: 582px;
}

.hero__img-cat {
    position: absolute;
    left: 0;
    bottom: 94px;
    width: 388px;
    height: 488px;
    border-radius: 16px;
    border: 2px solid #FFF;
    object-fit: cover;
    background: #FFA78D;
}

.hero__img-dog {
    position: absolute;
    right: 0;
    bottom: 36px;
    width: 186px;
    height: 244px;
    border-radius: 16px;
    border: 2px solid #FFF;
    object-fit: contain;
    object-position: 0 24px;
    background: #FAA7AD;
}

.hero__bg-circle {
    position: absolute;
    left: -58px;
    bottom: 103px;
}

.hero__bg-vectors {
    position: absolute;
    top: 16.66px;
    right: 132.5px;
}

.hero__info {
    position: absolute;
    bottom: 0;
    right: 172px;
    width: 250px;
    height: 156px;
    border-radius: 10px;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero__info--item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 18px 0 20px 14px;
}

.hero__info--vector {
    display: block;
    margin: 0 auto;
    width: 222px;
    height: 2px;
    background: #F2F2F2;
}

.hero__info--img-heath,
.hero__info--img-care {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
}

.hero__info--img-heath {
    background-color: #FEC23F;
}

.hero__info--img-care {
    background-color: #C6E2FA;
}

.hero__info--heading {
    color: #181E52;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.hero__info--long-vector {
    margin-top: 7px;
    width: 118px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--primary-color--purple);
}

.hero__info--short-vector {
    margin-top: 6px;
    width: 39px;
    height: 4px;
    border-radius: 10px;
    opacity: 0.08;
    background: var(--primary-color--purple);
}

.hero__content {
    width: 42.5%;
    min-height: 440px;
}

.hero__heading {
    font-size: 6.6rem;
    width: 517px;
}

.hero__desc {
    margin: 24px 0 38px;
    width: 391px;
}

.hero__action {
    display: flex;
    align-items: center;
    gap: 24px;
}

.hero__action--link {
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    /* 100% */
    text-decoration: underline;
}

.hero__btn {
    padding: 0 29px;
    width: 189px;
    height: 60px;
    border-radius: 31px;
    color: #FFF;
    background: #FF5B2E;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    cursor: pointer;
}

.hero__btn--img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFF;
    color: #FF5B2E;
}

/* About */
.about {
    margin-top: 77px;
    padding: 53px 0;
}

.about__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__content {
    width: 41%;
    min-height: 405px;
}

.about__heading {
    margin: 15px 0 24px;
}

.about__item-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    background-color: #FF5D31;
}

.about__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: 233px 218px;
    gap: 36px;
}

.about__item {
    display: flex;
    gap: 10px;
    align-items: center;
}

.about__info-check {
    color: #48496A;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1;
    /* 100% */
}

.about__media {
    position: relative;
    width: 54.3%;
    min-height: 559px;
    display: flex;
    justify-content: center;
}

.about__img {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.about__bg-img {
    display: block;
    position: absolute;
    bottom: 8px;
    width: 494px;
    height: 336px;
    border-radius: 16px;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__bg-vectors {
    position: absolute;
    right: 0;
    top: 157px;
}

.about__sticker {
    position: relative;
    position: absolute;
    left: 0;
    top: 165px;
    padding: 31px 26px 29px;
    width: 136px;
    height: 156px;
    border-radius: 10px;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
}

.about__sticker-img {
    position: absolute;
    top: -38.2px;
    right: -33px;
}

.about__sticker-number {
    color: #FFF;
    text-align: center;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1;
    /* 100% */
}

.about__sticker-content {
    margin-top: 14px;
    width: 83px;
    color: #C6F4F9;
    text-align: center;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.42;
    /* 142.857% */
}

/* Feature */
.feature {
    margin-top: 77px;
}

.feature__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__media {
    position: relative;
    width: 42.73%;
    min-height: 571px;
}

.feature__img {
    width: 458px;
    height: 500px;
    object-fit: cover;
    z-index: 1;
}

.feature__img-bg {
    width: 458px;
    height: 500px;
    border-radius: 18px;
    background-color: #c6e2fa;
    background-image: linear-gradient(180deg, #c6e2fa 24%, #94c2ea 64%);
}

.feature__img,
.feature__img-bg {
    position: absolute;
    top: 16px;
    left: 0;
}

.feature__bg-circle {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.feature__bg-smalltg {
    position: absolute;
    right: 61px;
    bottom: 205px;
    z-index: 1;
}

.feature__bg-tg {
    position: absolute;
    top: 284px;
    right: 9px;
    z-index: 1;
}

.feature__bg-rightVector {
    position: absolute;
    top: 49px;
    right: 21px;
    z-index: 1;
}

.feature__bg-centerVector {
    position: absolute;
    top: 0;
    right: 55px;
    z-index: 1;
}

.feature__bg-leftVector {
    position: absolute;
    top: 28.5px;
    right: 105px;
    z-index: 1;
}

.feature__content {
    width: 47.6%;
    min-height: 459px;
}

.feature__heading {
    font-weight: 700;
    margin-bottom: 24px;
}

.feature__list {
    margin-top: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feature__item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.feature__introduce {
    width: 391px;
    margin: 36px 0 32px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.71;
    /* 171.429% */
}

.feature__item-vector {
    margin-top: 10px;
    width: 95px;
    height: 2px;
    background: #FF5B2E;
    border-radius: 999px;
}

.feature__item-vector::after {
    content: "";
    display: block;
    width: 557px;
    height: 2px;
    opacity: 0.07;
    background: #FF5B2E;
    border-radius: 999px;
}

.feature__view-more {
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1;
    border-bottom: 2px solid #FF5D31;
    /* 100% */
}

/* Service */
.service {
    margin-top: 130px;
    padding: 68px 0 100px;
    background-color: #FFF6ED;
}

.service__top {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.service__body {
    display: flex;
    justify-content: space-between;
    margin-top: 71px;
}

.service__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 25.12%;
}

.service__item {
    width: 100%;
    height: 208px;
    border-radius: 10px;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.service__item-body {
    padding: 30px 0 30px 28px;
}

.service__item-heading {
    position: relative;
    color: #000958;
    font-size: 2.2rem;
    font-weight: 600;
    line-height: 1;
    padding-left: 12px;
    /* 100% */
}

.service__item-heading::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    content: "";
    width: 2px;
    height: 22px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);

}

.service__item-desc {

    width: 244px;
    margin-top: 18px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7;
    /* 171.429% */
}

.service__item-more {
    margin-top: 24px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.service__item-link {
    display: block;
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1;
    /* 100% */
}

.service__media {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 621px;
    width: 37.6%;
}

.service__media-body {
    margin-top: 40px;
    position: relative;
    width: 100%;
    min-height: 621px;
    flex-shrink: 0;
}

.service__imgCenter {
    position: absolute;
    bottom: 28px;
    width: 460px;
    height: 621px;
    object-fit: cover;
    z-index: 1;
}

.service__img-bg {
    position: absolute;
    bottom: 28px;
    left: 22px;
    width: 410px;
    height: 350px;
    border-radius: 10px;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service-btn {
    width: 214px;
    height: 56px;
    background-color: transparent;
    padding: 0 39px;
    cursor: pointer;
    /* 100% */
}

.service-btn:hover {
    color: var(--text-color-white);
    background-color: #FF5B2E;
}

/* Team */
.team {
    margin: 30px 0;
    padding: 100px 0;
}

.team__top {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 15px;
}

.team__list {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 22.7%;
    min-height: 383px;
    flex-shrink: 0;
}

.team__item--media {
    position: relative;
    width: 251px;
    height: 290px;
    display: flex;
    justify-content: center;
}

.team__item-avatar {
    position: absolute;
    width: 251px;
    height: 290px;
    object-fit: contain;
}

.team__item-bg {
    position: absolute;
}

.team__item-bg.team__item-bgUp {
    bottom: 0;
}

.team__item-bg.team__item-bgDown {
    top: 19px;
}

.team__item-position {
    margin-top: 29px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1;
    /* 100% */
}

.team__item-name {
    margin-top: 14px;
    color: #000958;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    /* 100% */
}

.team__action {
    margin-top: 48px;
    display: flex;
    justify-content: center;
}

.team__btn {
    background-color: transparent;
}

.team__btn:hover {
    color: var(--text-color-white);
    background-color: #FF5B2E;
}